
/* 적용할때, + 말고 스페이스로 구분*/
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Song+Myung&family=Stylish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap');

body, html { 
    margin: 0;
    padding: 0;
    height: 100%;
}

* {
    text-align:center;
}

/* 그라데이션 */
.css-selector {
    background: linear-gradient(267deg, #7fe5e6, #d291f0);
    min-height:300%;
    -webkit-animation: bg 10s ease infinite;
    -moz-animation: bg 10s ease infinite;
    -o-animation: bg 10s ease infinite;
    animation: bg 10s ease infinite;
}
/* 그라데이션 호환성 */
@-webkit-keyframes bg {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}
@-moz-keyframes bg {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}
@-o-keyframes bg {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}
@keyframes bg {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}

.font-class {
    font-family: 'Black Han Sans', sans-serif;
    font-size: 20px;
    margin: 10px 10px;
}

.column {
    float: left;
    width: 29.5%;
    padding: 20px;
    text-align: center;
    
}

.head-class {
    text-align: center ;
    font-family: 'Black Han Sans', sans-serif;
    font-size: 60px;
    margin: 10px 10px;
}

.not-done-text {
    font-family:'Gothic A1', sans-serif;
    font-weight:900;
    font-size:150px;
    padding:100px 100px;
}
    
    
.d-day_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}
.d-day_container .num{
    font-family: 'Gothic A1', sans-serif;
    font-weight: 100;
    font-size: 100px;
    margin:0px;
}
.d-day_container span{
    font-family: 'Gothic A1', sans-serif;
    font-weight: 700;
    font-size: 50px;
}
/* 전체 정렬 */


/*투명 버튼*/
.ghost-button {
    font-family: 'Black Han Sans', sans-serif;
    font-size : 20px;
    align-items: center;
    display: inline-block;
    margin: 20px 5px;
    border: 3px solid #232948;
    color: #232948;                
    text-decoration : none;
    box-sizing: content-box;
    width : 100px;
    height : 30px ;
    text-align: center;
    line-height: 30px;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
}
.ghost-button:hover {
    background-color:#232948;
    font-size : 30px;
    color: white;
    width : 110px;
    height : 50px ;
    line-height: 50px;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    }

/*배경 이미지*/
.bgimg {
    border: 0;
    padding: 0; 
    background-image: url('https://1.bp.blogspot.com/-0b8WwdOsClQ/Xi1-MPCH5vI/AAAAAAAAGwY/-7FSQnwwCiYn7XVawXLeSDfFHBUf4tJfQCLcBGAsYHQ/s1600/PREV_Rhodes.png');
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
    
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
    
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
    background-position: center;
    background-size: cover;
}
/*네비게이션 바 시리즈*/
/*.nav-bar-ul {
    list-style-type: none;
    font-size: 20px;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}

.nav-bar-li {
    float: left;
}

.nav-bar-li-a{
    background-color: #232948;
    font-family: Stylish;
    color: azure;
    padding: 20px;
    align-items: center;
    text-align: center;
}

.nav-bar-li-a:hover {
    color: #232948;
    background-color: azure;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
}*/
